#Workflow to setup terraform and then perform formatting of the code if needed and then plan the configuration to be applied on AWS Cloud. 
#The terraform plan will output the file which is downloaded within the repo to be verified manually and approved.

name: 'Terraform'
run-name: 'Terraform Fmt and Plan'

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  issues: write

env:
  AWS_REGION: eu-west-2

jobs:
  fmt-and-plan:
    name: 'Create Plan file'
    runs-on: ubuntu-latest
    # environment: production

    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v4

    - name: Remove plan directory if exists
      run: |
        if [ -d "tfplan.out" ]; then
          rm -r tfplan.out
        fi

    # Install the latest version of Terraform CLI
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      
    # Configure AWS Credentials
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    # Initialize a new or existing Terraform working directory by creating initial files, loading any remote state, downloading modules, etc.
    - name: Terraform Init
      run: terraform init

    # Checks that all Terraform configuration files adhere to a canonical format
    - name: Terraform Format
      run: terraform fmt -check

    # Generates an execution plan for Terraform
    - name: Terraform Plan
      id: tfplan
      run: terraform plan -out tfplan.out -input=false

    # Upload the Terraform plan as a build artifact to Repository Actions
    - name: Upload Terraform Plan Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Terraform Plan
        path: tfplan.out

# Job to download the Terraform plan artifact and wait for manual approval before applying
  download-plan:
    name: 'Download Terraform Plan'
    runs-on: ubuntu-latest
    needs: fmt-and-plan

    steps:
    # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v4

    # Download the Terraform plan artifact for later steps
      - name: Download Terraform Plan Artifact
        uses: actions/download-artifact@v4
        with:
          name: Terraform Plan 
          path: tfplan.out
    # Add and commit the plan file to the repository
      - name: Add and commit plan to repository
        run: |
          git config --global user.name 'Pankaj'
          git config --global user.email 'mrchandna@gmail.com'
          git add tfplan.out
          git commit -m "Add Terraform plan artifact"
          git push origin HEAD:main

    # Wait for manual approval before applying the Terraform plan
      - name: Offline review and manual approval of Terraform Plan
        uses: trstringer/manual-approval@v1
        with:
          secret: ${{ secrets.GITHUB_TOKEN }}
          approvers: 'pankajc80'
          minimum-approvals: 1
          issue-title: 'Approve Terraform Plan'
          issue-body: 'Please review and approve the Terraform plan before applying.'


      # On push to "main", build or change infrastructure according to Terraform configuration files
     
   # - name: Terraform Apply
    #  if: github.ref == 'refs/heads/"main"' && github.event_name == 'push'
     # run: terraform apply -auto-approve -input=false
